* {
  // Colors
  --color-overlay5-dark: #9acbff24;
  --color-overlay5-light: #26629424;
  --color-overlay4-dark: #9acbff1f;
  --color-overlay4-light: #2662941f;
  --color-overlay3-dark: #9acbff1c;
  --color-overlay3-light: #2662941c;
  --color-overlay2-dark: #9acbff14;
  --color-overlay2-light: #26629414;
  --color-overlay1-dark: #9acbff0d;
  --color-overlay1-light: #2662940d;
  --color-surface-tint-color-dark: #9acbffff;
  --color-surface-tint-color-light: #266294ff;
  --color-surface-tint-dark: #9acbffff;
  --color-surface-tint-light: #266294ff;
  --color-shadow-dark: #000000ff;
  --color-shadow-light: #000000ff;
  --color-inverse-primary-dark: #266294ff;
  --color-inverse-primary-light: #9acbffff;
  --color-inverse-surface-dark: #e3e2e5ff;
  --color-inverse-surface-light: #2f3033ff;
  --color-inverse-on-surface-dark: #2f3033ff;
  --color-inverse-on-surface-light: #f1f0f3ff;
  --color-outline-dark: #8d9197ff;
  --color-outline-light: #74777dff;
  --color-on-surface-variant-dark: #c4c6cdff;
  --color-on-surface-variant-light: #43474cff;
  --color-surface-variant-dark: #43474cff;
  --color-surface-variant-light: #e0e2e9ff;
  --color-on-surface-dark: #e3e2e5ff;
  --color-on-surface-light: #1a1c1eff;
  --color-surface-dark: #1a1c1eff;
  --color-surface-light: #fdfcfeff;
  --color-on-background-dark: #e3e2e5ff;
  --color-on-background-light: #1a1c1eff;
  --color-background-dark: #1a1c1eff;
  --color-background-light: #fdfcfeff;
  --color-on-error-container-dark: #ffb4abff;
  --color-on-error-container-light: #410002ff;
  --color-on-error-dark: #690005ff;
  --color-on-error-light: #ffffffff;
  --color-error-container-dark: #93000aff;
  --color-error-container-light: #ffdad6ff;
  --color-error-dark: #ffb4abff;
  --color-error-light: #ba1a1aff;
  --color-on-tertiary-container-dark: #efdbfcff;
  --color-on-tertiary-container-light: #22162eff;
  --color-tertiary-container-dark: #4f415bff;
  --color-tertiary-container-light: #efdbfcff;
  --color-on-tertiary-dark: #382b44ff;
  --color-on-tertiary-light: #ffffffff;
  --color-tertiary-dark: #d2c0e0ff;
  --color-tertiary-light: #675974ff;
  --color-on-secondary-container-dark: #d9e3f3ff;
  --color-on-secondary-container-light: #121c27ff;
  --color-secondary-container-dark: #3d4854ff;
  --color-secondary-container-light: #d9e3f3ff;
  --color-on-secondary-dark: #27313dff;
  --color-on-secondary-light: #ffffffff;
  --color-secondary-dark: #bdc7d6ff;
  --color-secondary-light: #555f6cff;
  --color-on-primary-container-dark: #cfe5ffff;
  --color-on-primary-container-light: #001d34ff;
  --color-primary-container-dark: #004a79ff;
  --color-primary-container-light: #cfe5ffff;
  --color-on-primary-dark: #003355ff;
  --color-on-primary-light: #ffffffff;
  --color-primary-dark: #9acbffff;
  --color-primary-light: #266294ff;

  // Key color references
  --color-overlay5: var(--color-overlay5-light);
  --color-overlay4: var(--color-overlay4-light);
  --color-overlay3: var(--color-overlay3-light);
  --color-overlay2: var(--color-overlay2-light);
  --color-overlay1: var(--color-overlay1-light);
  --color-surface-tint-color: var(--color-surface-tint-color-light);
  --color-surface-tint: var(--color-surface-tint-light);
  --color-shadow: var(--color-shadow-light);
  --color-inverse-primary: var(--color-inverse-primary-light);
  --color-inverse-surface: var(--color-inverse-surface-light);
  --color-inverse-on-surface: var(--color-inverse-on-surface-light);
  --color-outline: var(--color-outline-light);
  --color-on-surface-variant: var(--color-on-surface-variant-light);
  --color-surface-variant: var(--color-surface-variant-light);
  --color-on-surface: var(--color-on-surface-light);
  --color-surface: var(--color-surface-light);
  --color-on-background: var(--color-on-background-light);
  --color-background: var(--color-background-light);
  --color-on-error-container: var(--color-on-error-container-light);
  --color-on-error: var(--color-on-error-light);
  --color-error-container: var(--color-error-container-light);
  --color-error: var(--color-error-light);
  --color-on-tertiary-container: var(--color-on-tertiary-container-light);
  --color-tertiary-container: var(--color-tertiary-container-light);
  --color-on-tertiary: var(--color-on-tertiary-light);
  --color-tertiary: var(--color-tertiary-light);
  --color-on-secondary-container: var(--color-on-secondary-container-light);
  --color-secondary-container: var(--color-secondary-container-light);
  --color-on-secondary: var(--color-on-secondary-light);
  --color-secondary: var(--color-secondary-light);
  --color-on-primary-container: var(--color-on-primary-container-light);
  --color-primary-container: var(--color-primary-container-light);
  --color-on-primary: var(--color-on-primary-light);
  --color-primary: var(--color-primary-light);
}

[colormode="dark"] * {
  --color-overlay5: var(--color-overlay5-dark);
  --color-overlay4: var(--color-overlay4-dark);
  --color-overlay3: var(--color-overlay3-dark);
  --color-overlay2: var(--color-overlay2-dark);
  --color-overlay1: var(--color-overlay1-dark);
  --color-surface-tint-color: var(--color-surface-tint-color-dark);
  --color-surface-tint: var(--color-surface-tint-dark);
  --color-shadow: var(--color-shadow-dark);
  --color-inverse-primary: var(--color-inverse-primary-dark);
  --color-inverse-surface: var(--color-inverse-surface-dark);
  --color-inverse-on-surface: var(--color-inverse-on-surface-dark);
  --color-outline: var(--color-outline-dark);
  --color-on-surface-variant: var(--color-on-surface-variant-dark);
  --color-surface-variant: var(--color-surface-variant-dark);
  --color-on-surface: var(--color-on-surface-dark);
  --color-surface: var(--color-surface-dark);
  --color-on-background: var(--color-on-background-dark);
  --color-background: var(--color-background-dark);
  --color-on-error-container: var(--color-on-error-container-dark);
  --color-on-error: var(--color-on-error-dark);
  --color-error-container: var(--color-error-container-dark);
  --color-error: var(--color-error-dark);
  --color-on-tertiary-container: var(--color-on-tertiary-container-dark);
  --color-tertiary-container: var(--color-tertiary-container-dark);
  --color-on-tertiary: var(--color-on-tertiary-dark);
  --color-tertiary: var(--color-tertiary-dark);
  --color-on-secondary-container: var(--color-on-secondary-container-dark);
  --color-secondary-container: var(--color-secondary-container-dark);
  --color-on-secondary: var(--color-on-secondary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-on-primary-container: var(--color-on-primary-container-dark);
  --color-primary-container: var(--color-primary-container-dark);
  --color-on-primary: var(--color-on-primary-dark);
  --color-primary: var(--color-primary-dark);
}
