$error-0: #000000ff;
$error-5: #2d0001ff;
$error-10: #410002ff;
$error-15: #540003ff;
$error-20: #690005ff;
$error-25: #7e0007ff;
$error-30: #93000aff;
$error-35: #a80710ff;
$error-40: #ba1a1aff;
$error-50: #de3730ff;
$error-60: #ff5449ff;
$error-70: #ff897dff;
$error-80: #ffb4abff;
$error-90: #ffdad6ff;
$error-95: #ffedeaff;
$error-98: #fff8f7ff;
$error-99: #fffbffff;
$error-100: #ffffffff;
$neutral-variant-0: #000000ff;
$neutral-variant-5: #0c1117ff;
$neutral-variant-10: #171c22ff;
$neutral-variant-15: #21262cff;
$neutral-variant-20: #2c3137ff;
$neutral-variant-25: #373c42ff;
$neutral-variant-30: #42474eff;
$neutral-variant-35: #4e535aff;
$neutral-variant-40: #5a5f66ff;
$neutral-variant-50: #73777fff;
$neutral-variant-60: #8c9199ff;
$neutral-variant-70: #a7abb3ff;
$neutral-variant-80: #c2c7cfff;
$neutral-variant-90: #dee3ebff;
$neutral-variant-95: #edf1f9ff;
$neutral-variant-98: #f7f9ffff;
$neutral-variant-99: #fcfcffff;
$neutral-variant-100: #ffffffff;
$neutral-0: #000000ff;
$neutral-5: #0f1114ff;
$neutral-10: #1a1c1eff;
$neutral-15: #242629ff;
$neutral-20: #2f3033ff;
$neutral-25: #3a3b3eff;
$neutral-30: #45474aff;
$neutral-35: #515255ff;
$neutral-40: #5d5e61ff;
$neutral-50: #76777aff;
$neutral-60: #909094ff;
$neutral-70: #aaabaeff;
$neutral-80: #c6c6caff;
$neutral-90: #e2e2e5ff;
$neutral-95: #f1f0f4ff;
$neutral-98: #f9f9fcff;
$neutral-99: #fcfcffff;
$neutral-100: #ffffffff;
$neutral-null: #ffffffff;
$tertiary-0: #000000ff;
$tertiary-5: #180a27ff;
$tertiary-10: #241532ff;
$tertiary-15: #2e1f3dff;
$tertiary-20: #392a49ff;
$tertiary-25: #453554ff;
$tertiary-30: #514060ff;
$tertiary-35: #5d4b6dff;
$tertiary-40: #695779ff;
$tertiary-50: #837093ff;
$tertiary-60: #9d89aeff;
$tertiary-70: #b8a3c9ff;
$tertiary-80: #d4bee6ff;
$tertiary-90: #f0dbffff;
$tertiary-95: #faecffff;
$tertiary-98: #fff7feff;
$tertiary-99: #fffbffff;
$tertiary-100: #ffffffff;
$secondary-0: #000000ff;
$secondary-5: #04121fff;
$secondary-10: #0f1d2aff;
$secondary-15: #192735ff;
$secondary-20: #243240ff;
$secondary-25: #2f3d4bff;
$secondary-30: #3a4857ff;
$secondary-35: #465463ff;
$secondary-40: #526070ff;
$secondary-50: #6b7889ff;
$secondary-60: #8492a3ff;
$secondary-70: #9eadbfff;
$secondary-80: #bac8daff;
$secondary-90: #d6e4f7ff;
$secondary-95: #e9f1ffff;
$secondary-98: #f7f9ffff;
$secondary-99: #fcfcffff;
$secondary-100: #ffffffff;
$primary-0: #000000ff;
$primary-5: #001223ff;
$primary-10: #001d34ff;
$primary-15: #002844ff;
$primary-20: #003355ff;
$primary-25: #003e67ff;
$primary-30: #004a79ff;
$primary-35: #00568bff;
$primary-40: #00629eff;
$primary-50: #297cbcff;
$primary-60: #4b96d8ff;
$primary-70: #68b0f5ff;
$primary-80: #9acbffff;
$primary-90: #cfe5ffff;
$primary-95: #e9f1ffff;
$primary-98: #f7f9ffff;
$primary-99: #fcfcffff;
$primary-100: #ffffffff;
