.container {
  padding: 0 3rem;
  grid-template-row: auto 1fr auto;
  max-width: 1024px;
  margin-inline: auto;
}

.header {
  border-bottom: 2px solid #cccccc;
}
.links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  list-style-type: none;
  padding: 0;
}
.links a {
  padding: 1rem;
}
.title {
  flex: 1 1;
}
.title * {
  font-size: 2rem;
  font-weight: 400;
}

.footer {
  padding: 1rem 0;
  border-top: 3px solid #eaeaea;
  margin-block-start: 2rem;
}
.footer div {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.footer a {
  font-size: 1rem;
}
.footer .footertitle {
  font-size: 2rem;
  flex: 1 1 0;
  margin-block: 0.5rem;
}
.footer .copyright {
  text-align: center;
  font-size: 0.8rem;
}
