.overlayUI {
  transition: opacity 0.5s;
  z-index: 10;
  color: hsl(0, 0%, 80%);
}

.header {
  --itemSize: 1.4rem;

  position: absolute;
  inset-inline: 0;
  inset-block-start: 0;
  z-index: 10;

  display: grid;
  grid-template-columns: auto 1fr auto;
  place-items: center;
  gap: 2rem;

  padding-block: calc(0.5 * var(--itemSize));
  padding-inline: var(--itemSize);

  opacity: 1;
  transition: opacity 0.2s;
}
.header p {
  margin-block: 0rem;
  padding: 0;
  font-size: var(--itemSize);
  flex: 1 1 auto;

  padding: 0.3rem;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: 4px;
  backdrop-filter: blur(10px);
}

.headerButtons {
  block-size: 100%;
  inline-size: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: calc(2 * var(--itemSize));
}
.headerButtons button {
  display: grid;
  place-items: center;
  inline-size: 3rem;
  block-size: 3rem;

  appearance: nond;

  border: 0;
  border-radius: 5px;
  background-color: hsla(0, 0%, 0%, 0.4);
  backdrop-filter: blur(10px);

  transition: background-color 0.3s;

  cursor: pointer;
}
.headerButtons svg {
  flex: 0 0 var(--itemSize);
  aspect-ratio: 1;
  inline-size: 100%;
  fill: none;
  stroke: hsl(0, 0%, 70%);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.headerButtons button:hover:not(:active) svg {
  stroke: hsl(0, 0%, 100%);
}
.main {
  position: fixed;
  inset: 0;
  background: hsla(0, 0%, 0%, 1);

  overflow: hidden;
}

.mainList {
  position: absolute;
  inset: 0;
  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;

  block-size: 90vh;

  list-style-type: none;
}
.mainList li {
  position: absolute;
  inset: 0;

  display: grid;
  place-items: center;

  border-radius: 20px;
  /* outline: 3px solid black; */
}
.mainList img {
  max-block-size: 90vh;
  max-inline-size: 100%;
}
.loadingEffect {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  transition: opacity 0.5s;
}
.loadingEffect svg {
  animation: rotate 3s linear infinite;
  width: 48px;
  height: 48px;
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

@keyframes rotate {
  100% {
    transform: rotate(180deg);
  }
}
.mainlist span {
  transition: transform 1s ease-out;
}
.title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-block: 0.2rem;
}
.discription {
  text-align: center;
}
.slideButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 20;
  block-size: 30vh;
  /* inline-size: max(3rem, 13vw); */

  appearance: none;
  background-color: hsla(0, 0%, 0%, 0);

  border: 0;

  transition: background-color 0.3s;

  cursor: pointer;
}
.slideButton:hover:not(:active) {
  background-color: hsla(0, 0%, 0%, 0.1);
}
.slideButton:hover:not(:active) svg {
  stroke: hsl(0, 0%, 100%);
}
.slideThumbnail {
  block-size: 20vh;
  inline-size: 20vh;
  position: relative;
}
.buttonNeighbourInfo {
  opacity: 0;
  background-color: hsla(0, 0%, 0%, 0);
  transition: opacity 0.2s linear, background-color 0.2s linear;
}
.slideButton:hover:not(:active) .buttonNeighbourInfo {
  opacity: 1;
  background-color: hsla(0, 0%, 100%, 0.8);
}
.slideButton svg {
  block-size: 8vw;
  inline-size: 8vw;
  fill: none;
  stroke: hsl(0, 0%, 70%);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.next {
  inset-inline-end: 0;
  inset-block-end: 30vh;
}
.prior {
  inset-block-end: 30vh;
  inset-inline-start: 0;
}
.detailButton {
  position: fixed;
  inset-block-start: 20vh;
  inset-inline-start: 50vh;
  z-index: 20;
}
.footer {
  position: absolute;
  inset-inline: 0;
  inset-block-end: 0;
  z-index: 10;

  display: grid;
  place-items: center;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: 4px;
  backdrop-filter: blur(5px);
}
.link {
  position: absolute;
  inset-block-end: 0;
  color: hsl(0, 0%, 65%);
}
.link:hover {
  color: hsl(0, 0%, 80%);
}
.link p {
  margin-block: 0;
}
.linkTitle {
  font-size: 0.8rem;
}
.nextLink {
  inset-inline-end: 0;
}

.previousLink {
  inset-inline-start: 0;
}
.currentSeriesInfo {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto fit-content;
  place-items: center;
  column-gap: 2rem;
}
.currentSeriesInfo h1 {
  grid-area: 1/1/2/2;
  font-size: 1rem;
  font-weight: 500;
  backdrop-filter: blur(10px);
}
.currentSeriesInfo .date {
  grid-area: 2/1/3/2;
  font-size: 0.6rem;
  margin-block: 0px;
}
.currentSeriesInfo .likeCount {
  grid-area: 2/2/3/3;
  margin-block: 0;
}
.currentSeriesInfo button {
  appearance: none;
  background-color: hsla(0, 0%, 0%, 0);

  cursor: pointer;
  touch-action: none;
}
.currentSeriesInfo svg {
  grid-area: 1/2/2/3;
  width: 24px;
  height: 24px;
  fill: none;
  stroke: hsl(0, 0%, 70%);
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
