.header {
  margin-block: 0;
  inset-block-start: 0;
  inset-inline: 0;
  display: flex;
  padding-inline: 3rem;
  padding-block: 3rem;
  background-image: linear-gradient(to bottom, #efefef, #f8f8f8 20%);
}
.links {
  margin-inline: 0;
  margin-block: 0;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;

  font-size: 1.2rem;
  list-style-type: none;
}
.showMore {
  display: none;
  pointer-events: none;
  position: relative;
  z-index: 2;
}

.showMore line {
  --skew: 27deg;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
.links a {
  padding: 1rem;
  display: block;
  text-align: center;

  font-style: italic;

  border-radius: 0.3rem;
  transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out;
}
.links a:hover:not(:active) {
  background-color: white;
  box-shadow: 0px 1px 1px 1px hsla(50, 0%, 90%, 1);
}
.title {
  flex: 1 1;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "XiaoJiuShouXieTi", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
}

@media (max-width: 800px) {
  .header {
    padding-block: 2rem;
  }
  .links {
    position: absolute;
    inset: 0;
    inset-block-end: -100vh;
    z-index: 1;

    font-size: 2rem;
    flex-direction: column;
    align-items: stretch;
    padding-block-start: 9rem;

    background-color: hsla(50, 10%, 90%, 0.8);
    backdrop-filter: blur(10px);

    opacity: 0;
    pointer-events: none;

    transition: opacity 0.4s ease-out;
  }
  .links a:hover {
    background-color: hsla(50, 10%, 95%, 1);
  }
  .title {
    font-size: 2.2rem;
  }
  .showMore {
    flex: 0 0 2rem;
    display: block;
    pointer-events: auto;

    background-color: hsla(50, 33%, 25%, 0);

    appearance: none;
    border: 0px;

    cursor: pointer;

    transition: transform 0.5s ease-out;
  }
  .showMore:hover {
    transform: scale(1.2);
  }
  .showMore[showing] .top {
    transform-origin: top left;
    transform: skewY(var(--skew));
  }
  .showMore[showing] .mid {
    opacity: 0;
  }
  .showMore[showing] .btm {
    transform-origin: top left;
    transform: skewY(calc(-1 * var(--skew)));
  }
  .links[showing] {
    opacity: 1;
    pointer-events: auto;
  }
}
