.container {
  display: grid;
  place-items: center;
  padding: 20px;

  background-color: #fafafa;
  color: #444444;

  border: 2px dashed #eeeeee;
  border-radius: 2px;
  outline: none;

  transition: border 0.24s ease-in-out;
}
.preview {
  max-block-size: 60vh;
  max-inline-size: 60vw;
  aspect-ratio: 1/1;
  object-fit: cover;

  border-radius: 50%;
}
