.title {
  margin-block-start: 4rem;
  text-align: center;
  font-size: 3rem;

  margin-block-end: 4rem;
}
.discription {
  text-align: center;
  inline-size: 30rem;
  margin-inline: auto;
  font-size: 1.2rem;
  margin-block-end: 6rem;
}
