.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
}
.container * {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-medium: -0.4px 0.4px 0.6px hsl(var(--shadow-color) / 0.11),
    -1.2px 1.4px 2.1px -0.8px hsl(var(--shadow-color) / 0.11),
    -3.1px 3.4px 5.2px -1.7px hsl(var(--shadow-color) / 0.11),
    -7.6px 8.3px 12.7px -2.5px hsl(var(--shadow-color) / 0.11);
  box-shadow: var(--shadow-elevation-medium);

}
.title {
  font-size: 4rem;
  text-align: center;
}
.subtitle {
  font-size: 1.5rem;
  text-align: center;
}
.form *:is(button, input, select, textarea) {
  font-family: inherit;
}

.errorMessage {
  margin: 0px;
  font-size: 1rem;
  color: #ba1b1b;
}

.form {
  display: flex;
  flex-direction: column;
}
.form section {
  margin-block: 0.7rem;
}
.form label {
  display: block;
  margin-block: 0.3rem;
}
.form input {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  box-sizing: border-box;
  background: none;
  height: 1.4375em;
  margin: 0;
  padding: 1.6rem 0.8rem;
  border-color: #cccccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 1px;
}

.form input.inputWithError {
  border-color: #930006;
}
.form textarea {
  --font-size: 1.3rem;
  display: block;
  width: 100%;
  padding: 0.6rem;
  resize: none;

  border-color: #cccccc;
  border-radius: 0.2rem;
  border-style: solid;
  border-width: 1px;
  font-size: var(--font-size);
  line-height: calc(var(--font-size) * 1.5);
}

.form textarea.inputWithError {
  border-color: #930006;
}

.form button {
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.06),
    0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.06),
    0.8px 1.6px 2px -2.5px hsl(var(--shadow-color) / 0.06);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.07),
    0.7px 1.4px 1.8px -0.8px hsl(var(--shadow-color) / 0.07),
    1.7px 3.4px 4.3px -1.7px hsl(var(--shadow-color) / 0.07),
    4.1px 8.1px 10.2px -2.5px hsl(var(--shadow-color) / 0.07);

  font-size: 1.3rem;
  padding: 0.4rem;
  background: #a2f78e;
  color: #002200;
  border: 1px solid #bbcbb2;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 0.3em;
}
/* hover */
.form button:where(:not(:active):hover) {
  box-shadow: var(--shadow-elevation-medium);
}

/* focus */
.form button:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}
/* disableds */
.form button[disabled] {
  background: #d7e8cd;
  box-shadow: var(--shadow-elevation-low);
}
#resultDialog {
  border: 1px solid #dddddd;
  border-radius: 1rem;
  padding: 0;
}
#resultDialog header > p {
  padding: 0.5rem 1rem;
  margin: 0;

  border-radius: 1rem 1rem 0 0;
  background-color: #bcebee;
}
#resultDialog article > p {
  padding: 1rem;
  margin: 0;

  background-color: #efffff;
}
#resultDialog footer {
  padding: 0.3rem 1rem;
  display: flex;
  flex-direction: row-reverse;
  border-radius: 0 0 1rem 1rem;
  background-color: #bcebee;
}
#resultDialog button {
  /* font-size: 1.3rem; */
  padding: 0.4rem;
  background: #a2f78e;
  color: #002200;
  border: 1px solid #bbcbb2;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 0.3em;
}
/* hover */
#resultDialog button:where(:not(:active):hover) {
  box-shadow: var(--shadow-elevation-medium);
}

/* focus */
#resultDialog button:where(:not(:active)):focus-visible {
  outline-offset: 5px;
}

.showDialog {
}

.hideDialog {
  opacity: 0;
  pointer-events: none;
}
