.container {
  padding: 0 3rem;
  grid-template-row: auto 1fr auto;
  max-width: 1024px;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}
.header h1 {
  font-size: 4rem;
  margin-block-start: 3rem;
  margin-block-end: 0.2rem;
}
.links {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
.header p {
  font-size: 1.4rem;
  font-weight: bold;

  margin-block-start: 1rem;
  margin-block-end: 2rem;
}

div.backdrop {
  position: absolute;
  right: 0%;
  top: 80vh;
  transform: translateY(var(--yvalue));
}

.main ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.footer {
  padding: 1rem 0;
  border-top: 3px solid #eaeaea;
  margin-block-start: 2rem;
}
.footer div {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.footer a {
  font-size: 1.5rem;
}
.footer .footertitle {
  font-size: 3.5rem;
  flex: 1 1 0;
  margin-block: 0.5rem;
}
.footer .copyright {
  text-align: center;
  font-size: 0.8rem;
}

.container {
  padding: 0 3rem;
  grid-template-row: auto 1fr auto;
  max-width: 1024px;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}
.header h2 {
  font-size: 4rem;
  margin-block-start: 3rem;
  margin-block-end: 0.2rem;
}
.links {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}
.header p {
  font-size: 1.4rem;
  font-weight: bold;

  margin-block-start: 1rem;
  margin-block-end: 2rem;
}
.footer {
  padding: 1rem 0;
  border-top: 3px solid #eaeaea;
  margin-block-start: 2rem;
}
.footer div {
  display: flex;
  column-gap: 3rem;
  align-items: center;
}
.footer a {
  font-size: 1rem;
}
.footer .footertitle {
  font-size: 2rem;
  flex: 1 1 0;
  margin-block: 0.5rem;
}
.footer .copyright {
  text-align: center;
  font-size: 0.8rem;
}
